.kontaktai {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    text-align: left;
    font-size: 25px;
    letter-spacing: 3px;
    word-spacing: 5px;
    line-height: 1.5;
    margin: 40px 0px 0px 60px;
}

.kontaktai > p {
    font-style: italic;
}

.kontaktai > h3 {
    font-style: italic;
}

.kontaktai-textas > p {
    font-style: italic;
    text-align: left;
    font-size: 25px;
    letter-spacing: 3px;
    word-spacing: 5px;
    line-height: 1.5;
    margin: 40px 0px 0px 60px;
}

/* #includeFooter {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
} */

/* This is gona be used to make this fit for variety of screens */
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 300px) and (max-width: 480px) {
    .kontaktai {
        font-size: 15px;
        letter-spacing: 2px;
        word-spacing: 3px;
        line-height: 1.5;
        margin: 30px;
    }
}

/* Medium devices ----------- */
@media only screen and (min-width: 481px) and (max-width: 800px) {
    .kontaktai {
        font-size: 15px;
        letter-spacing: 2px;
        word-spacing: 3px;
        line-height: 1.5;
        margin: 30px;
    }
}

/* Large devices ----------- */
@media only screen and (min-width: 801px) and (max-width: 1223px){
    .kontaktai {
        font-size: 25px;
        letter-spacing: 2px;
        word-spacing: 4px;
        line-height: 1.5;
    }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
    .kontaktai {
        font-size: 25px;
        letter-spacing: 3px;
        word-spacing: 5px;
        line-height: 1.5;
    }
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
    .kontaktai {
        font-size: 30px;
        letter-spacing: 5px;
        word-spacing: 5px;
        line-height: 2;
    }
}
